@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CAROUSEL
{
 <!-- CAROUSEL -->  
         <div class="line">
            <div id="owl-demo" class="owl-carousel owl-theme  margin-bottom">
               <div class="item"><img src="img/940x380.jpg" alt=""></div>
               <div class="item"><img src="img/940x380-2.jpg" alt=""></div>
               <div class="item"><img src="img/940x380-3.jpg" alt=""></div>
            </div>
         </div>
    }

